/autom4te.cache/
/aclocal.m4
/config.h
/config.h.in
/config.log
/config.status
/configure
/Makefile
/Makefile.in
/doc/Makefile
/doc/Makefile.in
/m4/Makefile
/m4/Makefile.in
/src/Makefile
/src/Makefile.in
/stamp-h1
/tests/Makefile
/tests/Makefile.in
.deps/
*.o
/src/payprocd
/src/t-http
/src/ca.pem
/src/dh_param.pem
/src/x1
/src/x2
/src/x3
/src/y1
/src/y2
/src/y3
/src/stripe.livekey
/src/stripe.testkey
/src/t-commands
/src/out2
/payproc-*.tar.bz2
/src/payproc-jrnl
/src/libcommon.a
/src/libcommonpth.a
/src/ppipnhd
/src/payproc-stat
/src/t-preorder
/src/payproc-post
/src/t-util
